<p>
<%=referal.body %><br>
<%if current_user && current_user.is_admin?%>
<%= link_to "Remove Referal", referal, method: :delete, data: {confirm: "Are you sure?"}, remote: true,class: 'delete_referal_link'%>
<hr>
<%end%>
</p>