<div class="skinny_wrapper wrapper_padding">
	<h1 style="color: rgba(0,0,0,0.8)">Referals</h1>
	<hr style="width: 100%">
	<%= link_to "Add Referree", new_referal_path, id:"new_referal_link", remote: true%>
	<div id="all_referals">
		<%=render @referals%>
	</div>
</div>