<div class="skinny_wrapper wrapper_padding">
	<h1>Comments</h1>
	<% if @comments.any? %>
	<div id="comments">
		<% @comments.each do |comment| %>
		<div class="comment">
			<%= simple_format comment.content%>
		</div>
		<% end %>
	</div>
	<%else%>
	<h1>No comments Found!</h1>
	<%end%>
</div>