<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<h2>Hi there, am VICTOR.</h2>
		<p><b>Designer</b> &amp; <b>Developer</b> living in Nairobi,Kenya.</p>
		<p>By day I work as a <b>Full Stack Developer</b>, by night I teach myself how to design &amp; code <b>Web applications.</b></p>
		<p>A <i>Tech enthusiast</i> 💻, <i>Lover of Music</i> 🎶 and <i>Games</i> 🎮</p>
		<p>You can find me on Twitter, Medium, Linkedin and sharing some code on Github.</p>
	</div>
	<!--POSTS-->
	<div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>
		<% @posts.each do |post| %>
		<h3><a href="#"><%= link_to post.title, post %></a></h3>
		<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<!--PROJECTS-->
	<div class="col-2 homepage_content">
		<h2>Stuff I've Built</h2>
		<hr>
		<% @projects.each do |project| %>
		<h3><a href="#"><%= link_to project.title, project %></a></h3>
		<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>
<!--SKILLS-->
<div id="skills" style="text-align: center;">
	<hr style="width: 100%">
	<h2>MY SKILLS</h2>
	<hr style="width: 100%">
	<div class="chart-container">
		<canvas id="myChart" class="chartjs" width="120" height="50"></canvas>
	</div>
</div>